<div class="relative bg-auth-teal bg-cover h-screen">
  <div class="absolute flex items-center gap-4 top-12 left-12">
    <img src="assets/logo.png" class="w-12 h-12">
    <div class="grid">
      <span class="logo-text">Moovd</span>
      <span class="logo-text">Assignment</span>
    </div>
  </div>
  @if (authService.isLoggedIn()) {
    <span class="absolute top-12 right-12">
      <button mat-raised-button color="warn" (click)="authService.logout()">Logout</button>
    </span>
  }
  <router-outlet></router-outlet>
</div>
